@media (max-width: 1300px) {
  .conteiner {
    width: 90%;
  }
}
@midea (max-width: 1196px) {
  .cardwrepper {
    justify-items: space-around;
  }
  .s-2flex {
    flex-direction: column;
    align-items: center;
  }

  .infowrapper {
    width: 80%;
  }
}

@media (max-width: 860px) {
    .card {
        width: 80%;
    }
}




